@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.sub-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 60%;
  margin: 15px auto;
  margin-bottom: 30px;
  text-align: center;
  flex-direction: column;
}

@media only screen and (max-width: 56.25em) {
  .sub-heading {
    width: 80%;
  }
}

.sub-heading p {
  width: 80%;
}

@media only screen and (max-width: 56.25em) {
  .sub-heading p {
    width: 100%;
  }
}

.logo {
  font-family: "Inter", sans-serif;
  color: #7562E0 !important;
  font-size: 22px;
  font-weight: 600;
}

.heading-primary {
  font-family: "Inter", sans-serif;
  color: #3d3d3d;
  font-size: 72px;
  font-weight: 800;
}

@media only screen and (max-width: 75em) {
  .heading-primary {
    font-size: 60px;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-primary {
    font-size: 45px;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 35px;
  }
}

.heading-secondary {
  font-family: "Inter", sans-serif;
  color: #3d3d3d;
  font-size: 48px;
  font-weight: 800;
}

@media only screen and (max-width: 75em) {
  .heading-secondary {
    font-size: 40px;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 30px;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 26px;
  }
}

.heading-tertiary {
  font-family: "Inter", sans-serif;
  color: #3d3d3d;
  font-size: 24px;
  font-weight: 600;
}

@media only screen and (max-width: 75em) {
  .heading-tertiary {
    font-size: 22px;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-tertiary {
    font-size: 22px;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-tertiary {
    font-size: 20px;
  }
}

.heading-tertiary-22 {
  font-family: "Inter", sans-serif;
  color: #3d3d3d;
  font-size: 22px;
  font-weight: 600;
}

@media only screen and (max-width: 75em) {
  .heading-tertiary-22 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-tertiary-22 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-tertiary-22 {
    font-size: 20px;
  }
}

.header-text {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #3d3d3d;
  font-size: 20px;
  font-weight: 500;
}

.text-paragraph-18 {
  font-family: "Inter", sans-serif;
  color: #3d3d3d;
  line-height: 1.7;
  font-size: 18px;
}

.text-paragraph-16 {
  font-family: "Inter", sans-serif;
  color: #3d3d3d;
  line-height: 1.7;
  font-size: 16px;
}

.text-paragraph-14 {
  font-family: "Inter", sans-serif;
  color: #3d3d3d;
  line-height: 1.7;
  font-size: 14px;
}

.btn {
  position: relative;
  display: inline-block;
  font-family: "Inter", sans-serif;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  box-shadow: none !important;
  outline: 0;
}

.btn-primary {
  background: #7562E0;
  color: #fff;
  font-weight: bold;
  width: 140px;
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #7562E0;
  text-align: center;
  font-size: 18px;
}

.btn-primary:active  {
    color: #fff;
    background-color: #7562E0;
    border-color: #7562E0;
}
.btn-primary:hover {
  border-color: #5e4eb3;
  background-color: #5e4eb3;
}

@media only screen and (max-width: 37.5em) {
  .btn-primary {
    font-size: 16px;
    width: 120px;
    padding: 8px;
  }
}

.nav-link {
  cursor: pointer;
  font-family: "Inter", sans-serif !important;
  color: #3d3d3d !important;
  font-size: 16px;
}

#app-navbar .navbar-toggler {
  border-color: transparent !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

#app-navbar {
  padding: 15px 0 !important;
  background-color: #fff !important;
  backdrop-filter: blur(30px);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: #7562E0 !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 !important;
  padding: 0 !important;
}

.header {
  width: 100%;
  background-color: #f0eefc;
  padding-bottom: 30px;
}

.header-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media only screen and (max-width: 56.25em) {
  .header-container {
    flex-direction: column;
    gap: 30px;
  }
}

@media only screen and (max-width: 37.5em) {
  .header-container {
    width: 100%;
    padding: 0 20px;
  }
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

@media only screen and (max-width: 56.25em) {
  .header-content {
    order: 2;
  }
}

.header-img {
  width: 100%;
  margin-top: 15px;
}

.header-img img {
  width: 100%;
}

@media only screen and (max-width: 56.25em) {
  .header-img {
    order: 1;
  }
}

.section-brands {
  background-color: #F1EFFC;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brand-border {
  width: 80%;
  margin: auto;
  height: 1px;
  background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}

.brands {
  width: 70%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 37.5em) {
  .brands {
    width: 90%;
  }
}

.brands img {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.25s;
}

.brands img:hover {
  opacity: 1;
}

@media only screen and (max-width: 37.5em) {
  .brands img {
    width: 70px;
  }
}

.service {
  width: 100%;
  padding: 30px 0;
  background-color: #FBFBFF;
}

.service-container {
  padding: 30px 0;
  width: 80%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  row-gap: 45px;
}

@media only screen and (max-width: 56.25em) {
  .service-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 37.5em) {
  .service-container {
    width: 80%;
    padding: 20px 0;
    grid-template-columns: repeat(1, 1fr);
  }
}

.service-card {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.portfolio {
  width: 100%;
  padding: 30px 0;
  background-color: #F9F9F9;
}

.portfolio-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  row-gap: 45px;
}

@media only screen and (max-width: 37.5em) {
  .portfolio-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.portfolio-card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.portfolio-card img {
  position: relative;
  width: 100%;
}

.portfolio-card img:hover {
  filter: grayscale(20%);
}

.portfolio-card-content {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.testimonial {
  position: relative;
  width: 100%;
  background-color: #F4F5F7;
  padding: 40px 0;
}

.testimonial-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  row-gap: 45px;
}

@media only screen and (max-width: 56.25em) {
  .testimonial-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.testimonial-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  text-align: center;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.testimonial-card-box {
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
}

.testimonial-card-box::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
}

.testimonial-card-info img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.about {
  width: 100%;
  padding: 30px 0;
  background-color: #FBFBFF;
}

.about-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

@media only screen and (max-width: 56.25em) {
  .about-container {
    gap: 40px;
    flex-direction: column;
  }
}

.about img {
  max-width: 500px;
  width: 100%;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

@media only screen and (max-width: 56.25em) {
  .about-content {
    align-items: center;
  }
}

@media only screen and (max-width: 56.25em) {
  .about-content .heading-secondary {
    text-align: center;
  }
}

.contact {
  width: 100%;
  padding: 30px 0;
  background-color: #F9F9F9 !important;
}

.contact-container {
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 56.25em) {
  .contact-container {
    width: 70%;
  }
}

@media only screen and (max-width: 37.5em) {
  .contact-container {
    width: 100%;
    padding: 30px 20px;
  }
}

.contact-input {
  margin: 15px 0;
}

.contact-input label {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.contact-input input, .contact-input textarea {
  padding: 15px;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  background-color: transparent;
}

.contact-input input:focus, .contact-input textarea:focus {
  box-shadow: none;
  border-color: rgba(117, 98, 224, 0.8);
}

.footer {
  background-color: #7562e0;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-logo {
  color: #fff;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

.footer-logo:hover {
  color: #f9f9f9;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
}

@media only screen and (max-width: 56.25em) {
  .footer-container {
    flex-direction: column;
    gap: 40px;
  }
}

.footer-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 30px;
}

@media only screen and (max-width: 56.25em) {
  .footer-container ul {
    flex-direction: column;
  }
}

.footer-container ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-container ul li a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */
