.footer{
    background-color: #7562e0;
    color: #fff;
    padding: 20px 0;
    text-align: center;

    &-logo{
        color: #fff;
        font-weight: bold;
        font-family: $ff-inter;
        font-size: 20px;
        &:hover{
            color: #f9f9f9;
        }
    }
    &-container{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $ff-inter;
        
        @include respond(tab-port){
            flex-direction: column;
            gap: 40px;
        }

        & ul{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            gap: 30px;
        
            @include respond(tab-port){
                flex-direction: column;
            }
           
            & li a{
                color: #fff;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }

        }
    }
}