@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');


$ff-inter : 'Inter', sans-serif;
$primary-color : #7562E0;
$text-color : #3d3d3d;
